/*样式重置*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }

fieldset, img { border:none; }

img{display: block;}

address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul, ol,li { list-style:none; }
a { color:#666; text-decoration:none; }
.clearboth{clear:both;height:0;overflow:hidden;}
/*页面字体响应*/
html {
  font-size: 62.5%; /* 10÷16=62.5% */
}
@media only screen and (min-width: 481px){
  html {
    font-size: 94%!important; /* 15.04÷16=94% */
  }
}
@media only screen and (min-width: 561px){
  html {
    font-size: 109%!important; /* 17.44÷16=109% */
  }
}
@media only screen and (min-width: 641px){
  html {
    font-size: 125%!important; /* 20÷16=125% */
  }
}
@font-face {font-family: 'iconfont';
  src: url('../font/iconfont.eot'); /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;}
.up:before {
  content: "\e605"; }
body{
  width:100vw;
  height:100vh;
  section{
    width:100%;
    height:100%;
    .swiper-wrapper{
      width:100%;
      height:100%;
      .swiper-slide{
        width:100%;
        height:100%;
        position: relative;
        .title{
          position: absolute;
          top:20%;
          left:55%;
          z-index: 2;
          width:20%;
          height:40%;
          font:600 5rem/6rem "PMingLiU";
          color: #f3e9da;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

        }
        .bg{
          position: absolute;
          top:0;
          left:0;
          z-index: 1;
          width:100%;
          height:100%;

        }
        $year_height:20%;
        .year{

          position: absolute;
          top:0;

          width:60%;
          height:$year_height;
          z-index: 2;
        }
        .year1{
          top:8%;
          left:0;
        }
        .year2{
          top:35%;
          right:0;
        }
        .year3{
           top:63%;
           left:0;
         }
        .year4{
        width:80%;
        top:88%;
        right:0%;
        text-align: right;
        font:600 2rem/3rem "PMingLiU";
        color: #f3e9da;
                           }
        .like{
          z-index: 2;
          position: absolute;
          top:60%;
          left:27%;
          width:70%;
          height:40%;
          text-align: left;
          font:600 2rem/3rem "PMingLiU";
          color: #f80f35;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
        .student{
          z-index: 2;
          position: absolute;
          top:60%;
          left:17%;
          width:70%;
          height:30%;
          transform-origin: 0 100%;
          transform: rotateZ(-90deg);
      }
        .myword{
          z-index: 2;
          position: absolute;
          top:24%;
          left:27%;
          width:70%;
          height:40%;
          text-align: left;
          font:600 2rem/3rem "PMingLiU";
          color: #f80f35;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          transform:scale(0.5);
        }
      }
    }
    .swiper-pagination{
      span{
        background: #fff;
        width:6px;
        height:6px;
      }
    }
    .upchange{
      color:#fff;
      position: absolute;
      left: 0;
      text-align: center;
      z-index: 33;
      bottom: 3%;
      width:100%;
      height:1rem;
      animation: fadeOutUp 1.5s linear 0s infinite;
      font: 800 2rem/2rem "iconfont";
    }
  }
}